<!-- Left Sidebar -->
<section id="left-sidebar">

<div class="logo">
  <a href="/" class="link-scroll"><img src="/assets/other_images/logo.png" alt="Twilli Air"></a>
</div><!-- .logo -->

<!-- Menu Icon for smaller viewports -->
<div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

<ul id="main-menu">
      <li id="menu-item-book" class="menu-item scroll"></li>
          <li id="menu-item-becomemovie" class="menu-item scroll"></li>
          <li id="menu-item-datamovie" class="menu-item scroll"></li>
          <li id="" class="menu-item scroll"></li>
</ul><!-- #main-menu -->

<p id="notice"><%= notice %></p>

</section><!-- #left-sidebar -->


<section id="main-content" class="clearfix">

<div class="form-group">
<input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="q" placeholder="Full Name" name="q">
</div>


<table>
  <thead>
    <tr>
      <th>Name</th>      
      <th colspan="3">Photo</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>        
        <td> 
          <% if author.imageauthor &&  author.imageauthor!="nophoto"%>                            
            <div class="grid-item col-md-12">
                <div class="item-content clearfix">       
                  <div class="text-content">                    
                    <p>
                      <img class="medium-width" src="<%= author.imageauthor %>" />
                    </p>
                  </div>
                </div><!-- end: .item-content -->
            </div><!-- end: .grid-item -->
          <% end %>
        </td>
        <td><%= link_to 'Show', author %></td>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>    
  </tbody>
</table>
<%= will_paginate @author %>
<br>


</section>
        