<!-- Left Sidebar -->
<section id="left-sidebar">

<div class="logo">
  <a href="/" class="link-scroll"><img src="/assets/other_images/logo.png" alt="Twilli Air"></a>
</div><!-- .logo -->

<!-- Menu Icon for smaller viewports -->
<div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

<ul id="main-menu">
      <li id="menu-item-book" class="menu-item scroll"></li>
          <li id="menu-item-becomemovie" class="menu-item scroll"></li>
          <li id="menu-item-datamovie" class="menu-item scroll"></li>
          <li id="" class="menu-item scroll"></li>
</ul><!-- #main-menu -->

<p id="notice"><%= notice %></p>

</section><!-- #left-sidebar -->


<section id="main-content" class="clearfix">
        
        <article id="carousel" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg5.jpg">

           <div class="content-wrapper clearfix">

              <div id="features-carousel" class="carousel slide with-title-indicators max-height" data-height-percent="70" data-ride="carousel">


                    <h2 class="text-center">
                        Listing books
                    </h2>

            
                    <div class="carousel-inner">

                                <% 
                                   cont=0

                                   @books.each do |book| %>
                                    
                                          <div class="item <% if cont==1 %>active<% end %>">
                                            <div class="carousel-text-content">
                                                <img src="/assets/other_images/transp-image5.png" class="icon" alt="Lorem Ipsum">
                                                <% if book.title %>  
                                                  <h2 class="title">
                                                  <%= link_to book.title, book, data: { no_turbolink: true }%>
                                                  </h2>
                                                <% end %>                                             

                                               
                                                
                                                  <% if book.authors %>  
                                                    <p>
                                                      <% book.authors.each do |author| %>
                                                          <%= link_to author.name, author, data: { no_turbolink: true }, :class=>"btn btn-outline-inverse btn-sm" %></p>
                                                      <% end %>
                                                    </p>
                                                  <% end %>
                                            </div>
                                          </div><!-- end: .item-content -->     
                                      
                                <% 
                                        cont=cont+1
                                   end 
                                %>
                    </div>
                    <a class="left carousel-control" href="#features-carousel" data-slide="prev"></a>
                    <a class="right carousel-control" href="#features-carousel" data-slide="next"></a>

                    <div>
                        <ol class="carousel-indicators title-indicators">
                           <% cont=0

                              #@books.each do |book| 
                              if false
                                 %>
                                    <li data-target="#features-carousel" data-slide-to="<%=cont%>"<% if cont==1 %> class="active"<% end %> ><%= book.title %> </li>
                                 <% 
                                 cont=cont+1
                              end 

                           %>
                        </ol>
                    </div>

              </div>
          </div>
        </article><!-- .section-wrapper -->
</section>