<!-- Left Sidebar -->
<section id="left-sidebar">

<div class="logo">
  <a href="/" class="link-scroll"><img src="/assets/other_images/logo.png" alt="Twilli Air"></a>
</div><!-- .logo -->

<!-- Menu Icon for smaller viewports -->
<div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

<ul id="main-menu">
      <li id="menu-item-book" class="menu-item scroll"></li>
          <li id="menu-item-becomemovie" class="menu-item scroll"></li>
          <li id="menu-item-datamovie" class="menu-item scroll"></li>
          <li id="" class="menu-item scroll"></li>
</ul><!-- #main-menu -->

<p id="notice"><%= notice %></p>

</section><!-- #left-sidebar -->


<section id="main-content" class="clearfix">

        <article id="intro" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg5.jpg">

           <div class="content-wrapper clearfix">

              <div class="col-sm-10 col-md-9 pull-right">


                    <h1 class="section-title">
                        Books
                    </h1>

                     <% @books.each do |book| %>
                      <div>
                        <div><%= book.title %></div>        
                        <div> 
                          <% if book.imagebook &&  book.imagebook!="nophoto"%>                            
                            <div class="grid-item col-md-12">
                                <div class="item-content clearfix">       
                                  <div class="text-content">                    
                                    <p>
                                      <img class="medium-width" src="<%= book.imagebook %>" />
                                    </p>
                                  </div>
                                </div><!-- end: .item-content -->
                            </div><!-- end: .grid-item -->
                          <% end %>
                        </div>
                        <div><%= link_to 'Show', book %></div>
                        <div><%= link_to 'Edit', edit_author_path(book) %></div>
                        <div><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                      </div>
                    <% end %>    


              </div>
          </div>
        </article><!-- .section-wrapper -->
</section>
