<h1>Listing books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Authors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %> <%= book._id %></td>
        <td><%= book.descriptiontext %></td>
        <td>
            <% book.authors.each do |author| %>
                <div><%= link_to author.name, author%></div>
            <% end %>
        </td>
        <td><%= link_to 'Show', book, data: { no_turbolink: true } %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
