<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.descriptiontext %>
</p>

<p>
  <strong>Author:</strong>
  <table>
		<%if @book.authors 
			@book.authors.each do |author| %>
		      <tr>
		        <td><%= author.name %></td>
		      </tr>
		<% 
			end 
		 end%>
  </table>
</p>

<p>
  <strong>Links:</strong>
   	<table>
		<%if @book.links
			 @book.links.each do |link| %>
			      <tr>
			        <td><a href="<%= link["url"] %>" target="blank"><%= link["title"]%></a></td>
			      </tr>
		<%   end 
		  end%>
	</table>
</p>

<p>
  <strong>Subjects:</strong>
   	<table>
		<% if @book.subjects
			  @book.subjects.each do |subject| %>
			      <tr>
			        <td><%= subject%></td>
			      </tr>
		  <%  end 
		   end
		%>
	</table>
</p>

<p>
  <strong>Subject places:</strong>
   	<table>
		<%if @book.subject_places
			@book.subject_places.each do |subjectp| %>
		      <tr>
		        <td><%= subjectp%></td>
		      </tr>
		<%   end 
		  end
		%>
	</table>
</p>

<p>
  <strong>Subject times:</strong>
   	<table>
		<% 
		if @book.subject_times
			@book.subject_times.each do |subjectt| %>
		      <tr>
		        <td><%= subjectt%></td>
		      </tr>
		<% end 
		end%>
	</table>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
