<p id="notice"><%= notice %></p>

<%if @book.title 
%>	
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<%   
end
%>

<%if @book.descriptiontext 
%>	
<p>
  <strong>Description:</strong>
  <%= @book.descriptiontext %>
</p>
<%   
end
%>

<%if @book.authors 
%>	
	<p>
	  <strong>Author:</strong>
	  <table>
			
			<% @book.authors.each do |author| %>
			      <tr>
			        <td><%= author.name %></td>
			      </tr>
			<% end %>
	  </table>
	</p>
<%   
end
%>

<% if @book.links
%>	
	<p>
	  <strong>Links:</strong>
	   	<table>
	   			<% @book.links.each do |link| %>
				      <tr>
				        <td><a href="<%= link["url"] %>" target="blank"><%= link["title"]%></a></td>
				      </tr>
			    <% end %>
		</table>
	</p>
<%   
end
%>


<% if @book.subjects
%>
	<p>
	  <strong>Subjects:</strong>
	   	<table>
			  <% @book.subjects.each do |subject| %>
				      <tr>
				        <td><%= subject%></td>
				      </tr>
			  <% end %>
		</table>
	</p>
<%   
end
%>


<% if @book.subject_places
%>
	<p>
	  <strong>Subject places:</strong>
	   	<table>
	   		<% @book.subject_places.each do |subjectp| %>
			      <tr>
			        <td><%= subjectp%></td>
			      </tr>
			<% end %>
			
		</table>
	</p>
<%   
end
%>


<%  if @book.subject_times
%>

<p>
  <strong>Subject times:</strong>
   	<table>		
		<% @book.subject_times.each do |subjectt| %>
		      <tr>
		        <td><%= subjectt%></td>
		      </tr>
		<% end %>
	</table>
</p>

<%   
end
%>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
