

<!-- Left Sidebar -->
<section id="left-sidebar">

<div class="logo">
  <a href="/" class="link-scroll" data-no-turbolink><img src="/assets/other_images/logo.png" alt="Twilli Air"></a>
</div><!-- .logo -->

<!-- Menu Icon for smaller viewports -->
<div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

<ul id="main-menu">
		  <li id="menu-item-book" class="menu-item scroll"><a href="#book"><% if @book.title %><%= @book.title %><% end %></a></li>
          <li id="menu-item-becomemovie" class="menu-item scroll"><a href="#becomemovie">I like this book!, i want to watch this film</a></li>
          <li id="menu-item-datamovie" class="menu-item scroll"><a href="#datamovie">Are we missing any data from this book?</a></li>
          <li id="" class="menu-item scroll"><%= link_to "Find more books", root_path(:anchor => "books") %></li>
</ul><!-- #main-menu -->

<p id="notice"><%= notice %></p>

</section><!-- #left-sidebar -->


<section id="main-content" class="clearfix">
        
        <article id="book" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg5.jpg">

           <div class="content-wrapper clearfix">

           	<h2 class="text-center">
           		
				  Your favorite book becomes movie!
				
           	</h2>

            <div class="col-sm-11 col-md-10 pull-right">

                 <section class="grid row clearfix clearfix-for-2cols">

                 	   <!-- grid item -->

                 	  <% if @book.title %>	
						  <div class="grid-item col-md-12">
			                    <div class="item-content clearfix">    
			                      <span class="icon glyphicon"></span>     
			                      <div class="text-content">
			                        <h5>
			                        	<%=@book.title%>
			                        </h5>
			                      </div>
			                    </div><!-- end: .item-content -->
			              </div><!-- end: .grid-item -->
					  <% end %>   

                 	   <% if @book.imagebook &&  @book.imagebook!="nophoto"%>
	                      		
	                      		<div class="grid-item col-md-12">
				                    <div class="item-content clearfix">    
				                      <span class="icon glyphicon glyphicon-picture"></span>     
				                      <div class="text-content">
				                        
				                        <p>
				                        	<img class="medium-width" src="<%= @book.imagebook %>" />
				                        </p>
				                      </div>
				                    </div><!-- end: .item-content -->
				                </div><!-- end: .grid-item -->

	                  <% end %>

	                  <% if @book.authors %>	

	                 	   <!-- grid item -->
		                  <div class="grid-item col-md-12">
		                    <div class="item-content clearfix">
		                      <span class="icon glyphicon glyphicon-user"></span>
		                      <div class="text-content">
		                        <h5>Author:</h5>
		                        
		                            <% @book.authors.each do |author| %>
									      <p><%= link_to author.name, author, data: { no_turbolink: true }%></p>
									<% end %>

		                      </div>
		                    </div><!-- end: .item-content -->
		                  </div><!-- end: .grid-item -->

		              <% end %>

                 	 <div class="grid-item col-md-12">
	                    <div class="item-content clearfix">    
	                      <span class="icon glyphicon glyphicon-book"></span>     
	                      <div class="text-content">
	                        <h5>
	                        	Summary:
	                        </h5>
	                        <p>
	                        	<% if @book.descriptiontext  %>	
								  <%= @book.descriptiontext.html_safe %>
								<% end %>
	                        </p>
	                      </div>
	                    </div><!-- end: .item-content -->
	                  </div><!-- end: .grid-item -->
	                 
	                 
		              <% if @book.links	%>

	                      <div class="grid-item col-md-6">
		                    <div class="item-content clearfix">
		                      <span class="icon glyphicon glyphicon-eye-open"></span>
		                      <div class="text-content">
		                        <h5>Links:</h5>
		                        <p>
		                        	<% @book.links.each do |link| %>
									      <tr>
									        <td><a href="<%= link["url"] %>" target="blank"><%= link["title"]%></a></td>
									      </tr>
								    <% end %>
		                        </p>
		                      </div>
		                    </div><!-- end: .item-content -->
		                  </div><!-- end: .grid-item -->

		              <% end %>

		              <% if @book.subjects %>

			                  <!-- grid item -->
			                  <div class="grid-item col-md-6">
			                    <div class="item-content clearfix">
			                      <span class="icon glyphicon glyphicon-tags"></span>
			                      <div class="text-content">
			                        <h5>Subjects:</h5>
			                       
			                        	<% @book.subjects.each do |subject| %>
											      <p><%= subject%></p>
										<% end %>

			                      </div>
			                    </div><!-- end: .item-content -->
			                  </div><!-- end: .grid-item -->

	                  <% end %>


	                  <% if @book.subject_places %>

			                  <!-- grid item -->
			                  <div class="grid-item col-md-6">
			                    <div class="item-content clearfix">
			                      <span class="icon glyphicon glyphicon-tree-deciduous"></span>
			                      <div class="text-content">
			                        <h5>Subject places:</h5>
			                       
			                        	<% @book.subject_places.each do |subjectp| %>
											      <p><%= subjectp%></p>
										<% end %>

			                      </div>
			                    </div><!-- end: .item-content -->
			                  </div><!-- end: .grid-item -->

	                  <% end %>

	                   <% if @book.subject_times %>

			                  <!-- grid item -->
			                  <div class="grid-item col-md-6">
			                    <div class="item-content clearfix">
			                      <span class="icon glyphicon glyphicon-time"></span>
			                       <div class="text-content">
			                        <h5>Subject times:</h5>
			                       
			                        	<% @book.subject_times.each do |subjectt| %>
											      <p><%= subjectt%></p>
										<% end %>

			                      </div>
			                    </div><!-- end: .item-content -->
			                  </div><!-- end: .grid-item -->

	                  <% end %>

					 <div class="grid-item col-md-12">
	                    <div class="item-content clearfix">     
	                      <div class="text-content">
	                      	<p>
								<%= link_to 'Edit', edit_book_path(@book) %> |
								<%= link_to 'Back', books_path %>
							</p>
							</div>
			            </div><!-- end: .item-content -->
			         </div><!-- end: .grid-item -->

				 </section>

            </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

        <article id="becomemovie" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg4.jpg">
          <div class="content-wrapper clearfix">
            
              <h2 class="section-title">We are going to convert this book into movie!</h2>
              
              
                <!-- CONTACT FORM -->
                <div class="col-sm-11 col-md-10 pull-right">
                  <!-- IMPORTANT: change the email address at the top of the assets/php/mail.php file to the email address that you want this form to send to -->
                  <form class="form-style validate-form clearfix" action="assets/php/mail.php" method="POST" role="form">

                    <!-- form left col -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Director" name="director">
                      </div>  
                      <div class="form-group">
                        <input type="email" class="text-field form-control validate-field required" data-validation-type="string" id="form-email" placeholder="Stars" name="email">
                      </div>
                      <div class="form-group">
                        <input type="tel" class="text-field form-control validate-field phone" data-validation-type="phone" id="form-contact-number" placeholder="Contact Number" name="contact_number">
                      </div>    
                      <div class="form-group text-right">
                        <img id="form-captcha-img" src="">
                        <input type="text" class="text-field form-control validate-field required" data-validation-type="captcha" id="form-captcha" placeholder="Enter text" name="captcha">
                        <span id="form-captcha-refresh" class="fa fa-refresh" title="Reload"></span>
                      </div>                                   
                    </div><!-- end: form left col -->

                    <!-- form right col -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <textarea placeholder="Storyline, film's plot... as far as you concern, the main parts..." class="form-control validate-field required" name="message"></textarea>
                      </div> 
                      <div class="form-group">
                        <img src="" class="form-loader">
                        <button type="submit" class="btn btn-sm btn-outline-inverse">Submit petition!</button>
                      </div> 
                      <div class="form-group form-general-error-container"></div>           
                    </div><!-- end: form right col -->

                  </form>
                </div><!-- end: CONTACT FORM -->

          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->


         <article id="datamovie" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg4.jpg">
          <div class="content-wrapper clearfix">
            
              <h4 class="section-title">Help us to improve our book's database, send us missing details, such as description, links, subjects, publishing date... please send us more details about this book!</h4>
              
              
                <!-- CONTACT FORM -->
                <div class="col-sm-11 col-md-10 pull-right">
                  <!-- IMPORTANT: change the email address at the top of the assets/php/mail.php file to the email address that you want this form to send to -->
                  <form class="form-style validate-form clearfix" action="assets/php/mail.php" method="POST" role="form">
                  	<h2 class="text-center">
		           		<% if @book.title %>	
						  <%= @book.title %>
						<% end %>
		           	</h2>
                    <!-- form left col -->
                    <div class="col-md-6">                      
                      <div class="form-group">
                      	<div class="text-left">Image portrait book:</div>
                        <input type="file" id="form-contact-number" placeholder="Image" name="image">
                      </div>    
                      <div class="form-group">
                        <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Places" name="places">
                      </div>  
                      <div class="form-group">
                        <input type="email" class="text-field form-control validate-field required" data-validation-type="string" id="form-email" placeholder="Links" name="links">
                      </div>
                      <div class="form-group text-right">
                        <img id="form-captcha-img" src="">
                        <input type="text" class="text-field form-control validate-field required" data-validation-type="captcha" id="form-captcha" placeholder="Enter text" name="captcha">
                        <span id="form-captcha-refresh" class="fa fa-refresh" title="Reload"></span>
                      </div>                                   
                    </div><!-- end: form left col -->

                    <!-- form right col -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <textarea placeholder="Description" name="message"></textarea>
                      </div> 
                      <div class="form-group">
                        <img src="" class="form-loader">
                        <button type="submit" class="btn btn-sm btn-outline-inverse">Submit details!</button>
                      </div> 
                      <div class="form-group form-general-error-container"></div>           
                    </div><!-- end: form right col -->

                  </form>
                </div><!-- end: CONTACT FORM -->

          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->



</section>        

