<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name='keywords' content='books, movies, film'/>
  <meta name='description' content='books, movies, film'/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Book becomes movie"/>
  <meta property="og:site_name" content="Book becomes movie"/>
  <meta property="og:description" content="Book becomes movie"/>
  <meta property="og:image" content="<%= image_path('logo.png') %>" />
  <meta property="og:locale" content="en_US" />
  <link href="<%= image_path('bbm.ico') %>" rel="shortcut icon" /> 

  <title>Book becomes movie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<div class="background-image-overlay"></div>

<div id="outer-background-container" data-default-background-img="/assets/other_images/bg5.jpg" style="background-image:url(/assets/other_images/bg5.jpg);"></div>


    <!-- Outer Container -->
    <div id="outer-container">

            <%= yield %>
  
          <!-- Footer -->
          <section id="footer">

            <!-- Go to Top -->
            <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div>

            <ul class="social-icons">
              <li><a href="#" target="_blank" title="Facebook"><img src="/assets/theme_images/social_icons/facebook.png" alt="Facebook"></a></li>
              <li><a href="#" target="_blank" title="Twitter"><img src="/assets/theme_images/social_icons/twitter.png" alt="Twitter"></a></li>
              <li><a href="#" target="_blank" title="Google+"><img src="/assets/theme_images/social_icons/googleplus.png" alt="Google+"></a></li>
            </ul>

            <!-- copyright text -->
            <div class="footer-text-line">&copy; 2014 Twilli | Air</div>
          </section>
          <!-- end: Footer -->      

    </div><!-- #outer-container -->
    <!-- end: Outer Container -->
    <!-- Modal -->
    <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
    <div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body clearfix">
          </div><!-- .modal-body -->
        </div><!-- .modal-content -->
      </div><!-- .modal-dialog -->
    </div><!-- .modal -->    

</body>
</html>
